* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: linear-gradient(135deg, #d6dfec, #e9ebf5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 15px;
}

.container {
  background: white;
  width: 100%;
  max-width: 420px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.08);
  padding: 32px;
  height: 50%;
 justify-content: center;    /* Horizontal center */
  align-items: center;
}

h1 {
  text-align: center;
  color: #1a1a2e;
  margin-bottom: 28px;
  font-size: 2.2rem;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 14px 18px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  outline: none;
}

input:focus {
  border-color: #6366f1;
}

button {
  padding: 0 24px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;


}

button:hover {
  background: #4f46e5;
}

ul {
  list-style: none;
}

li {
  background: #fafafa;
  margin-bottom: 12px;
  padding: 14px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

li.completed span {
  text-decoration: line-through;
  color: #6b7280;
}

.delete-btn {
  margin-left: auto;
  background: #ff0505;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 60%;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #dc2626;
}